<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Error</title>
  </head>
  <body>
    <div class="container mt-5 text-center">
      <h1>Los datos que ingresaste son incorrectos 😓</h1>
      <a class="btn btn-danger btn-lg mt-3" href="/login"> Reintentar</a>
    </div>
  </body>
</html>